:root {
  --color-primario: #747bff;
}

body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  display: flex;
  place-items: center;
  background: var(--color-primario)
 
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
